doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'
        schema_filter: '~^(?!messenger_messages)~'
        types:
            booking_status: \App\DBAL\BookingStatus
            product_duration_unit: \App\DBAL\ProductDurationUnit
            product_status: \App\DBAL\ProductStatus
            room_stock_type: \App\DBAL\RoomStockType
            price_commission_type: \App\DBAL\PriceCommissionType
        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '5.7'
    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                is_bundle: false
                type: annotation
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App
