framework:
    messenger:

        transports:
        # https://symfony.com/doc/current/messenger.html#transports
            broadcast-listeners-partner:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queue_name: broadcast-listeners-partner

            broadcast-listeners-product:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queue_name: broadcast-listeners-product

            broadcast-listeners-product-relationship:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queue_name: broadcast-listeners-product-relationship

            failed-broadcast-listeners:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queue_name: failed-broadcast-listeners
        # sync: 'sync://'

        routing:
        # Route your messages to the transports
            'App\Contract\Request\BroadcastListener\PartnerRequest': broadcast-listeners-partner
            'App\Contract\Request\BroadcastListener\ProductRequest': broadcast-listeners-product
            'App\Contract\Request\BroadcastListener\ProductRelationshipRequest': broadcast-listeners-product-relationship
