stages:
  - Build base image
  - Build
  - Unit tests
  - Contract tests
  - Test Coverage Analysis
  - Static analysis
  - Build Reports
  - API Spec Validation
  - Publish Reports

include:
  - local: '/.ci/.gitlab-ci.yaml'
  - local: '/.ci/quality.gitlab-ci.yaml'
  - local: '/.ci/staticAnalysis.gitlab-ci.yaml'
  - local: '/.ci/testCoverageAnalysis.gitlab-ci.yaml'
  - local: '/.ci/buildReports.gitlab-ci.yaml'

variables:
  GIT_DEPTH: 1

composer:
  stage: Build
  image: ${BASE_FULL_IMAGE}
  cache:
    key:
      files:
        - composer.lock
        - symfony.lock
    paths:
      - cache/composer
  script:
    - /load-key.sh "${SSH_KNOWN_HOSTS}" "${SSH_KEY}"
    - composer config cache-dir cache/composer
    - composer install -n --no-progress
  artifacts:
    expire_in: 1 days
    paths:
      - vendor/
  tags:
    - k8s

validate-api-spec-schema:
  stage: API Spec Validation
  image:
    name: docker-registry.production.smartbox.com/millenniumfalcon/bb-8-api-swagger-cli
    entrypoint: [""]
  script:
    - swagger-cli validate reference/r2d2-api/openapi.yaml
  tags:
    - k8s

#notify:
#  stage: Publish API reference
#  image: ${BASE_FULL_IMAGE}
#  variables:
#    BROADCAST_CHANNEL: r2-d2
#    ENVIRONMENT_NAME: r2-d2
#  script:
#    - ${CI_PROJECT_DIR}/.ci/notify.sh
#  tags:
#    - k8s

pages:
  stage: Publish Reports
  image: ${BASE_FULL_IMAGE}
  needs:
    - phpunit
    - phpmetrics
    - infection
    - mermaid-generate-images
    - Api-Tests
  script:
    - rm -rf public/
    - mv report/html/ public/
    - mkdir -p public/reference/
    - mkdir -p public/docs/
    - cp -R reference/* public/reference/
    - cp -R docs/* public/docs/
    - cp docs/html/openapi.html public/reference/r2d2-api/
  artifacts:
    paths:
      - public
    expire_in: 7 days
  tags:
    - k8s
  only:
    - master
