stages:
  - Build base image
  - Build
  - Test
  - Static analysis
  - App Container Build
  - Pre-deploy Health Check
  - Project Env Deploy
  - Post-deploy Health Check
  - Project Env Validation
  - Build Reports
  - Publish Reports

variables:
  GIT_DEPTH: 1

default:
  image: ${BASE_FULL_IMAGE}
  before_script:
    - echo '10.11.0.178 ie1-i-chef-02' >> /etc/hosts
  tags:
    - k8s-alpha

include:
  - local: '/.ci/build-app-container.yaml'
  - local: '/.ci/deploy.yaml'
  - local: '/.ci/quality.yaml'
  - local: '/.ci/static-analysis.yaml'
  - local: '/.ci/build-reports.yaml'

composer:
  stage: Build
  cache:
    key:
      files:
        - composer.lock
        - symfony.lock
    paths:
      - cache/composer
  script:
    - /load-key.sh "${SSH_KNOWN_HOSTS}" "${SSH_KEY}"
    - composer config cache-dir cache/composer
    - composer install -n --no-progress
  artifacts:
    expire_in: 1 day
    paths:
      - vendor/
      - public/bundles

pages:
  stage: Publish Reports
  needs:
    - mermaid-generate-images
    - Api-Tests
    - code-tests-aggregate
    - phpmetrics
    - generate-api-reference
    - composer
  script:
    - vendor/bin/phpadr workspace:list --config=phpadr.yaml | sed 1,3d | head -n -2 | awk '{$1="["$1"]""(docs/adr/"$1")";print}' | sed -e 's/^/  \* /' >> docs/docsify/_sidebar.md
    - rm -rf public/
    - mv docs/docsify public/
    - mv docs public/
    - cp README.md public/
    - mv report/ public/
    - mv reference public/
    - cp openapi.json public/
  artifacts:
    paths:
      - public
    expire_in: 1 day
  only:
    - master
