stages:
  - Publish API reference

pages:
  stage: Publish API reference
  script:
    - rm -rf public/
    - mkdir public
    - cp reference/r2d2-api/openapi.yaml public/
    - cp docs/html/openapi.html public/
    - cp docs/schema/high-level-data-model.png public/
    - cp docs/schema/r2-d2-api-data-model-alpha.png public/
  artifacts:
    paths:
      - public
    expire_in: 7 days
  tags:
    - k8s
