stages:
  - Publish API reference

pages:
  stage: Publish API reference
  script:
    - rm -rf public/
    - mkdir public
    - cp reference/r2d2-api/openapi.yaml public/
    - cp docs/html/openapi-doc.html public/
  artifacts:
    paths:
      - public
    expire_in: 7 days
  tags:
    - k8s
