stages:
  - Build base image
  - Build validation image
  - Build
  - Test
  - Static analysis
  - App Container Build
  - Pre-deploy Health Check
  - Project Env Deploy
  - Post-deploy Health Check
  - Project Env Validation
  - Build Reports
  - Generate Documentation
  - Publish Reports

variables:
  GIT_DEPTH: 1

default:
  image: ${BASE_IMAGE}
  before_script:
    - echo '10.11.0.178 ie1-i-chef-02' >> /etc/hosts
  tags:
    - k8s

include:
  - local: '/.ci/build-app-container.yaml'
  - local: '/.ci/deploy.yaml'
  - local: '/.ci/quality.yaml'
  - local: '/.ci/static-analysis.yaml'
  - local: '/.ci/build-reports.yaml'

composer:
  stage: Build
  cache:
    key:
      files:
        - composer.lock
        - symfony.lock
    paths:
      - cache/composer
  script:
    - /load-key.sh "${SSH_KNOWN_HOSTS}" "${SSH_KEY}"
    - composer config cache-dir cache/composer
    - composer install -n --no-progress
  artifacts:
    expire_in: 1 day
    paths:
      - vendor/
      - public/bundles

build-docs:
  stage: Generate Documentation
  image: squidfunk/mkdocs-material
  needs:
    - generate-extra-docs
  script:
    - mkdocs build -d mkdocs/
  artifacts:
    paths:
      - mkdocs
    expire_in: 1 day
  only:
    - master

pages:
  stage: Publish Reports
  dependencies:
    - code-tests-aggregate
    - generate-api-reference
    - generate-extra-docs
    - mermaid-generate-images
    - phpmetrics
    - build-docs
  needs:
    - code-tests-aggregate
    - generate-api-reference
    - generate-extra-docs
    - mermaid-generate-images
    - phpmetrics
  script:
    - rm -rf public/
    - mv mkdocs public/
    - mv report/ public/
    - mv reference public/
    - cp openapi.json public/
  artifacts:
    paths:
      - public
    expire_in: 1 day
  only:
    - master
