<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         executionOrder="random"
         resolveDependencies="true"
         colors="true"
         bootstrap="config/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="memory_limit" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-2" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="8.5" />
        <server name="KERNEL_CLASS" value="App\Kernel" />
    </php>

    <testsuites>
        <testsuite name="UnitTests">
            <directory>tests</directory>
            <exclude>tests/ApiTests</exclude>
        </testsuite>
        <testsuite name="ApiTests">
            <directory>tests/ApiTests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>src/Exception</directory>
                <directory>src/Entity</directory>
                <directory>src/Repository</directory>
                <file>src/Kernel.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="report/html/phpunit" lowUpperBound="50" highLowerBound="80"/>
        <log type="coverage-clover" target="report/raw/phpunit/clover/coverage-clover.xml"/>
        <log type="coverage-xml" target="report/raw/phpunit/coverage/coverage-xml/"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="junit" target="report/raw/phpunit/coverage/junit.xml"/>
        <log type="testdox-html" target="report/raw/testdox.html"/>
        <log type="testdox-text" target="report/raw/testdox.txt"/>
    </logging>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
