framework:
    messenger:

        transports:
            # https://symfony.com/doc/current/messenger.html#transports
            broadcast-listeners-partner:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        broadcast-listeners-partner:
                            binding_keys: [broadcast-listeners-partner]
                            arguments:
                                x-queue-type: quorum
                    exchange:
                        type: direct
                        default_publish_routing_key: broadcast-listeners-partner
                retry_strategy:
                    max_retries: 10
                    delay: 120000
                    multiplier: 2

            broadcast-listeners-product:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        broadcast-listeners-product:
                            binding_keys: [broadcast-listeners-product]
                            arguments:
                                x-queue-type: quorum
                    exchange:
                        type: direct
                        default_publish_routing_key: broadcast-listeners-product
                retry_strategy:
                    max_retries: 10
                    delay: 120000
                    multiplier: 2

            broadcast-listeners-product-relationship:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        broadcast-listeners-product-relationship:
                            binding_keys: [broadcast-listeners-product-relationship]
                            arguments:
                                x-queue-type: quorum
                    exchange:
                        type: direct
                        default_publish_routing_key: broadcast-listeners-product-relationship
                retry_strategy:
                    max_retries: 10
                    delay: 120000
                    multiplier: 2

            broadcast-listeners-price-information:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        broadcast-listeners-price-information:
                            binding_keys: [broadcast-listeners-price-information]
                            arguments:
                                x-queue-type: quorum
                    exchange:
                        type: direct
                        default_publish_routing_key: broadcast-listeners-price-information
                retry_strategy:
                    max_retries: 10
                    delay: 120000
                    multiplier: 2

            calculate-manageable-flag:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        calculate-manageable-flag:
                            binding_keys: [calculate-manageable-flag]
                            arguments:
                                x-queue-type: quorum
                    exchange:
                        type: direct
                        default_publish_routing_key: calculate-manageable-flag
                retry_strategy:
                    max_retries: 0

            push-room-information:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        push-room-information:
                            binding_keys: [push-room-information]
                            arguments:
                                x-queue-type: quorum
                    exchange:
                        type: direct
                        default_publish_routing_key: push-room-information
                retry_strategy:
                    max_retries: 10
                    delay: 120000
                    multiplier: 2

            failed-broadcast-listeners:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        failed-broadcast-listeners:
                            binding_keys: [failed-broadcast-listeners]
                            arguments:
                                x-queue-type: quorum
                    exchange:
                        type: direct
                        default_publish_routing_key: failed-broadcast-listeners


        routing:
            # Route your messages to the transports
            'App\Contract\Request\BroadcastListener\PartnerRequest': broadcast-listeners-partner
            'App\Contract\Request\BroadcastListener\ProductRequest': broadcast-listeners-product
            'App\Contract\Request\BroadcastListener\ProductRelationshipRequest': broadcast-listeners-product-relationship
            'App\Contract\Request\BroadcastListener\PriceInformationRequest': broadcast-listeners-price-information
            'App\Contract\Request\Manageable\ManageableProductRequest': calculate-manageable-flag
            'App\Contract\Request\EAI\RoomRequest': push-room-information
