framework:
    messenger:

        transports:
            # https://symfony.com/doc/current/messenger.html#transports
            listener-partner:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        listener-partner:
                            binding_keys: [listener-partner]
                            arguments:
                                x-queue-type: quorum
                                x-max-in-memory-length: 100000
                    exchange:
                        type: direct
                        default_publish_routing_key: listener-partner
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            listener-product:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        listener-product:
                            binding_keys: [listener-product]
                            arguments:
                                x-queue-type: quorum
                                x-max-in-memory-length: 100000
                    exchange:
                        type: direct
                        default_publish_routing_key: listener-product
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            listener-product-relationship:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        listener-product-relationship:
                            binding_keys: [listener-product-relationship]
                            arguments:
                                x-queue-type: quorum
                                x-max-in-memory-length: 100000
                    exchange:
                        type: direct
                        default_publish_routing_key: listener-product-relationship
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            listener-price-information:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        listener-price-information:
                            binding_keys: [listener-price-information]
                            arguments:
                                x-queue-type: quorum
                                x-max-in-memory-length: 100000
                    exchange:
                        type: direct
                        default_publish_routing_key: listener-price-information
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            listener-room-price:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        listener-room-price:
                            binding_keys: [listener-room-price]
                            arguments:
                                x-queue-type: quorum
                                x-max-in-memory-length: 100000
                    exchange:
                        type: direct
                        default_publish_routing_key: listener-room-price
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            event-calculate-manageable-flag:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        event-calculate-manageable-flag:
                            binding_keys: [event-calculate-manageable-flag]
                            arguments:
                                x-queue-type: quorum
                                x-max-in-memory-length: 100000
                    exchange:
                        type: direct
                        default_publish_routing_key: event-calculate-manageable-flag
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            event-push-room-type-information:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        event-push-room-type-information:
                            binding_keys: [event-push-room-type-information]
                            arguments:
                                x-queue-type: quorum
                                x-max-in-memory-length: 100000
                    exchange:
                        type: direct
                        default_publish_routing_key: event-push-room-type-information
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            event-push-booking-information:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        event-push-booking-information:
                            binding_keys: [event-push-booking-information]
                            arguments:
                                x-queue-type: quorum
                                x-max-in-memory-length: 100000
                    exchange:
                        type: direct
                        default_publish_routing_key: event-push-booking-information
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            failed-listeners:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        failed-listeners:
                            binding_keys: [failed-listeners]
                            arguments:
                                x-queue-type: quorum
                                x-max-in-memory-length: 100000
                    exchange:
                        type: direct
                        default_publish_routing_key: failed-listeners

            listener-room-availability:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        listener-room-availability:
                            binding_keys: [listener-room-availability]
                            arguments:
                                x-queue-type: quorum
                                x-max-in-memory-length: 100000
                    exchange:
                        type: direct
                        default_publish_routing_key: listener-room-availability
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            listener-room-availability-list:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        listener-room-availability-list:
                            binding_keys: [ listener-room-availability-list ]
                            arguments:
                                x-queue-type: quorum
                                x-max-in-memory-length: 100000
                    exchange:
                        type: direct
                        default_publish_routing_key: listener-room-availability-list
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            listener-room-price-list:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        listener-room-price-list:
                            binding_keys: [ listener-room-price-list ]
                            arguments:
                                x-queue-type: quorum
                                x-max-in-memory-length: 100000
                    exchange:
                        type: direct
                        default_publish_routing_key: listener-room-price-list
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            event-calculate-flat-manageable-component:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        event-calculate-flat-manageable-component:
                            binding_keys: [event-calculate-flat-manageable-component]
                            arguments:
                                x-queue-type: quorum
                                x-max-in-memory-length: 100000
                    exchange:
                        type: direct
                        default_publish_routing_key: event-calculate-flat-manageable-component
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            fallback-queue:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                serializer: 'messenger.transport.native_php_serializer' #TODO: remove
                options:
                    queues:
                        fallback-queue:
                            binding_keys: [fallback-queue]
                            arguments:
                                x-queue-mode: lazy
                    exchange:
                        type: direct
                        default_publish_routing_key: fallback-queue
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

        routing:
            # Route your messages to the transports
            'App\Contract\Request\BroadcastListener\PartnerRequest': listener-partner
            'App\Contract\Request\BroadcastListener\ProductRequest': listener-product
            'App\Contract\Request\BroadcastListener\ProductRelationshipRequest': listener-product-relationship
            'App\Contract\Request\BroadcastListener\PriceInformationRequest': listener-price-information
            'App\Contract\Request\BroadcastListener\RoomAvailabilityRequest': listener-room-availability
            'App\Contract\Request\BroadcastListener\RoomAvailabilityRequestList': listener-room-availability-list
            'App\Contract\Request\BroadcastListener\RoomPriceRequest': listener-room-price
            'App\Contract\Request\BroadcastListener\RoomPriceRequestList': listener-room-price-list
            'App\Contract\Request\Manageable\ManageableProductRequest': event-calculate-manageable-flag
            'App\Contract\Request\EAI\RoomRequest': event-push-room-type-information
            'App\Contract\Request\EAI\ChannelManagerBookingRequest': event-push-booking-information
            'App\Contract\Message\CalculateFlatManageableComponent': event-calculate-flat-manageable-component

        buses:
            default:
                middleware:
                    - App\Messenger\NewrelicMessengerMiddleware

        serializer:
            default_serializer: 'App\Helper\Serializer\IgbinarySerializer'
