framework:
    messenger:

        transports:
            # https://symfony.com/doc/current/messenger.html#transports
            broadcast-listeners-partner:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        broadcast-listeners-partner:
                            binding_keys: [broadcast-listeners-partner]
                            arguments:
                                x-queue-type: quorum
                    exchange:
                        type: direct
                        default_publish_routing_key: broadcast-listeners-partner
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            broadcast-listeners-product:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        broadcast-listeners-product:
                            binding_keys: [broadcast-listeners-product]
                            arguments:
                                x-queue-type: quorum
                    exchange:
                        type: direct
                        default_publish_routing_key: broadcast-listeners-product
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            broadcast-listeners-product-relationship:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        broadcast-listeners-product-relationship:
                            binding_keys: [broadcast-listeners-product-relationship]
                            arguments:
                                x-queue-type: quorum
                    exchange:
                        type: direct
                        default_publish_routing_key: broadcast-listeners-product-relationship
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            broadcast-listeners-price-information:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        broadcast-listeners-price-information:
                            binding_keys: [broadcast-listeners-price-information]
                            arguments:
                                x-queue-type: quorum
                    exchange:
                        type: direct
                        default_publish_routing_key: broadcast-listeners-price-information
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            listener-room-price:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        listener-room-price:
                            binding_keys: [listener-room-price]
                            arguments:
                                x-queue-type: quorum
                                x-max-in-memory-length: 100000
                    exchange:
                        type: direct
                        default_publish_routing_key: listener-room-price
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            calculate-manageable-flag:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        calculate-manageable-flag:
                            binding_keys: [calculate-manageable-flag]
                            arguments:
                                x-queue-type: quorum
                    exchange:
                        type: direct
                        default_publish_routing_key: calculate-manageable-flag
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            push-room-information:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        push-room-information:
                            binding_keys: [push-room-information]
                            arguments:
                                x-queue-type: quorum
                    exchange:
                        type: direct
                        default_publish_routing_key: push-room-information
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            push-booking-cmh:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        push-room-information:
                            binding_keys: [push-booking-cmh]
                            arguments:
                                x-queue-type: quorum
                    exchange:
                        type: direct
                        default_publish_routing_key: push-booking-cmh
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            failed-broadcast-listeners:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        failed-broadcast-listeners:
                            binding_keys: [failed-broadcast-listeners]
                            arguments:
                                x-queue-type: quorum
                    exchange:
                        type: direct
                        default_publish_routing_key: failed-broadcast-listeners

            listener-room-availability:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        listener-room-availability:
                            binding_keys: [listener-room-availability]
                            arguments:
                                x-queue-type: quorum
                                x-max-in-memory-length: 100000
                    exchange:
                        type: direct
                        default_publish_routing_key: listener-room-availability
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            listener-room-availability-list:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        listener-room-availability-list:
                            binding_keys: [ listener-room-availability-list ]
                            arguments:
                                x-queue-type: quorum
                                x-max-in-memory-length: 100000
                    exchange:
                        type: direct
                        default_publish_routing_key: listener-room-availability-list
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            listener-room-price-list:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        listener-room-price-list:
                            binding_keys: [ listener-room-price-list ]
                            arguments:
                                x-queue-type: quorum
                                x-max-in-memory-length: 100000
                    exchange:
                        type: direct
                        default_publish_routing_key: listener-room-price-list
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

            calculate-flat-manageable-component:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        calculate-flat-manageable-component:
                            binding_keys: [calculate-flat-manageable-component]
                            arguments:
                                x-queue-type: quorum
                                x-max-in-memory-length: 100000
                    exchange:
                        type: direct
                        default_publish_routing_key: calculate-flat-manageable-component
                retry_strategy:
                    service: App\Messenger\RetryCustomStrategy

        routing:
            # Route your messages to the transports
            'App\Contract\Request\BroadcastListener\PartnerRequest': broadcast-listeners-partner
            'App\Contract\Request\BroadcastListener\ProductRequest': broadcast-listeners-product
            'App\Contract\Request\BroadcastListener\ProductRelationshipRequest': broadcast-listeners-product-relationship
            'App\Contract\Request\BroadcastListener\PriceInformationRequest': broadcast-listeners-price-information
            'App\Contract\Request\BroadcastListener\RoomAvailabilityRequest': listener-room-availability
            'App\Contract\Request\BroadcastListener\RoomAvailabilityRequestList': listener-room-availability-list
            'App\Contract\Request\BroadcastListener\RoomPriceRequest': listener-room-price
            'App\Contract\Request\BroadcastListener\RoomPriceRequestList': listener-room-price-list
            'App\Contract\Request\Manageable\ManageableProductRequest': calculate-manageable-flag
            'App\Contract\Request\EAI\RoomRequest': push-room-information
            'App\Contract\Request\EAI\ChannelManagerBookingRequest': push-booking-cmh
            'App\Contract\Message\CalculateFlatManageableComponent': calculate-flat-manageable-component

        buses:
            default:
                middleware:
                    - App\Messenger\NewrelicMessengerMiddleware

        serializer:
            default_serializer: 'App\Helper\Serializer\IgbinarySerializer'
