sonarqube-early-validation:
  stage: Test Coverage Analysis
  image: docker-registry.production.smartbox.com/web/sonarqube-booking:0.0.1
  needs:
    - unitTests
  script:
    - sonar-scanner -X -Dsonar.analysis.mode=preview -Dsonar.gitlab.commit_sha=$CI_COMMIT_SHA
  tags:
    - k8s-alpha
  allow_failure: true

infection:
  stage: Test Coverage Analysis
  image: ${BASE_FULL_IMAGE}
  dependencies:
    - unitTests
    - composer
  script:
    - phpdbg -qrr vendor/bin/infection --min-covered-msi=80 --only-covered --threads=6 --coverage=report/raw/phpunit/coverage --test-framework-options="--testsuite=UnitTests "
  artifacts:
    expire_in: 3 days
    paths:
      - report/
  tags:
    - k8s-alpha

