framework:
    messenger:

        transports:
        # https://symfony.com/doc/current/messenger.html#transports
            broadcast-listeners-partner:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        'broadcast-listeners-partner': ~
                    exchange:
                        type: direct
                retry_strategy:
                    max_retries: 10
                    delay: 120000
                    multiplier: 2

            broadcast-listeners-product:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        'broadcast-listeners-product': ~
                    exchange:
                        type: direct
                retry_strategy:
                    max_retries: 10
                    delay: 120000
                    multiplier: 2

            broadcast-listeners-product-relationship:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        'broadcast-listeners-product-relationship': ~
                    exchange:
                        type: direct
                retry_strategy:
                    max_retries: 10
                    delay: 120000
                    multiplier: 2

            broadcast-listeners-price-information:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        'broadcast-listeners-price-information': ~
                    exchange:
                        type: direct
                retry_strategy:
                    max_retries: 10
                    delay: 120000
                    multiplier: 2

            failed-broadcast-listeners:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    queues:
                        'failed-broadcast-listeners': ~
                    exchange:
                        type: direct

        routing:
        # Route your messages to the transports
            'App\Contract\Request\BroadcastListener\PartnerRequest': broadcast-listeners-partner
            'App\Contract\Request\BroadcastListener\ProductRequest': broadcast-listeners-product
            'App\Contract\Request\BroadcastListener\ProductRelationshipRequest': broadcast-listeners-product-relationship
            'App\Contract\Request\BroadcastListener\PriceInformationRequest': broadcast-listeners-price-information
