monolog:
    handlers:
        main:
            type: stream
            path: "%kernel.logs_dir%/%env(LOG_FILE)%"
            formatter: Monolog\Formatter\LogstashFormatter
            channels: ['app', 'messenger', 'php', 'request', 'console']
